<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086399294915-ec43r8ju4oj6nrrpp278pc73ajkjsach.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086399294915-ec43r8ju4oj6nrrpp278pc73ajkjsach</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086399294915-7lsdc27ed2g67le1r0nscfj52la82roj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApxeRb4VDpFkgeISoTq13agEc5MqZpF2o</string>
	<key>GCM_SENDER_ID</key>
	<string>1086399294915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHairSalonAppMain</string>
	<key>PROJECT_ID</key>
	<string>saloon-b40b0</string>
	<key>STORAGE_BUCKET</key>
	<string>saloon-b40b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086399294915:ios:e3528b9a3f9881570ee176</string>
</dict>
</plist>